<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>QuickDressKids</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/carrinho">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/tabs/perfil">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="catalogo-content">
  
  <div class="search-container">
    <ion-searchbar
      placeholder="Pesquisar produtos..."
      [value]="pesquisa"
      (ionInput)="onPesquisaChange($event)"
      class="searchbar-custom"
      [animated]="false">
    </ion-searchbar>
  </div>

  <div class="filtros-scroll-container">
    <div class="filtro-scroll-item">
      <ion-select placeholder="Categoria" [value]="categoriaSelecionada" (ionChange)="selecionarFiltro('categoria', $event.detail.value)" interface="popover" class="filtro-select-mobile">
        <ion-select-option value="">Todas</ion-select-option>
        <ion-select-option *ngFor="let cat of categorias" [value]="cat.valor">{{ cat.label }}</ion-select-option>
      </ion-select>
    </div>

    <div class="filtro-scroll-item">
      <ion-select placeholder="Idade" [value]="faixaEtariaSelecionada" (ionChange)="selecionarFiltro('faixaEtaria', $event.detail.value)" interface="popover" class="filtro-select-mobile">
        <ion-select-option value="">Todas</ion-select-option>
        <ion-select-option *ngFor="let idade of idades" [value]="idade.valor">{{ idade.label }}</ion-select-option>
      </ion-select>
    </div>

    <div class="filtro-scroll-item">
      <ion-select placeholder="Tipo" [value]="tipoSelecionado" (ionChange)="selecionarFiltro('tipoProduto', $event.detail.value)" interface="popover" class="filtro-select-mobile">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option *ngFor="let t of tipos" [value]="t.valor">{{ t.label }}</ion-select-option>
      </ion-select>
    </div>

    <div class="filtro-scroll-item">
      <ion-select placeholder="Cor" [value]="corSelecionada" (ionChange)="selecionarFiltro('cor', $event.detail.value)" interface="popover" class="filtro-select-mobile">
        <ion-select-option value="">Todas</ion-select-option>
        <ion-select-option *ngFor="let c of cores" [value]="c.valor">{{ c.label }}</ion-select-option>
      </ion-select>
    </div>
  </div>

  <div class="chips-ativos-container" *ngIf="categoriaSelecionada || tipoSelecionado || faixaEtariaSelecionada || corSelecionada || pesquisa">
    <ion-chip *ngIf="categoriaSelecionada" (click)="removerFiltro('categoria')">
      <ion-label>{{ getNomeCategoria() }}</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip *ngIf="tipoSelecionado" (click)="removerFiltro('tipoProduto')">
      <ion-label>{{ getNomeTipo() }}</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip *ngIf="faixaEtariaSelecionada" (click)="removerFiltro('faixaEtaria')">
      <ion-label>{{ faixaEtariaSelecionada }} Anos</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip *ngIf="corSelecionada" (click)="removerFiltro('cor')">
      <ion-label>{{ corSelecionada }}</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </div>

  <div class="btn-limpar-container" *ngIf="categoriaSelecionada || tipoSelecionado || faixaEtariaSelecionada || corSelecionada || pesquisa">
    <button class="btn-limpar-vermelho" (click)="limparTodosFiltros()">
      Limpar Filtros
    </button>
  </div>

  <p class="contador-resultados">{{ produtosFiltrados.length }} produtos encontrados</p>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6" *ngFor="let produto of produtosFiltrados" class="ion-padding-tiny">
        <div class="produto-card-mobile" (click)="verDetalhe(produto.id)">
          <div class="card-imagem-mobile">
            <img [src]="produto.imagem" [alt]="produto.nome"
                 onerror="this.src='https://ionicframework.com/docs/img/demos/card-media.png'" />
          </div>
          <div class="card-info-mobile">
            <span class="categoria-badge">{{ produto.categoria | titlecase }}</span>
            <h3 class="card-nome-mobile">{{ produto.nome }}</h3>
            <p class="card-preco-mobile">{{ produto.preco | currency:'EUR':'symbol':'1.2-2' }}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="estado-vazio" *ngIf="produtosFiltrados.length === 0">
    <ion-icon name="search-outline"></ion-icon>
    <p>Nenhum produto encontrado.</p>
    <ion-button fill="outline" color="primary" (click)="limparTodosFiltros()">Limpar Filtros</ion-button>
  </div>

</ion-content>