ion-tab-bar {
  /* Dá um pequeno sombreado à barra para ficar mais elegante */
  box-shadow: 0 -2px 15px rgba(0,0,0,0.05);
  border: none;
}

ion-tab-button {
  
  ion-icon {
    padding: 6px 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out; /* Faz a cor aparecer de forma suave */
    font-size: 22px;
  }

  &.tab-selected {
    
    ion-icon {
      /* Fundo com a cor primária, mas um bocado transparente (15%) para ficar suave */
      background-color: rgba(var(--ion-color-primary-rgb), 0.15);
      
      /* O ícone fica com a cor principal forte */
      color: var(--ion-color-primary); 
    }

    ion-label {
      font-weight: bold;
      transition: all 0.3s ease;
    }
  }
}
